@charset "ISO-8859-1";

html, body{
	margin:0;
	font-size:18px;
	/*letter-spacing:1px;
	font-family:'Adamina';*/
	overflow:auto;
}

.content{
	margin-left:20%;
	width:60%;
	margin-right:20%;
	background-color:rgb(214, 245, 245);
	padding:10px;
	border-radius:10px;
    border: 1px solid rgb(217,217,217);
}

.loginDiv{
	background-color: white;
	border:1px solid lightgrey;
	width:30%;
	margin:0px 8%;
	padding:10px;
	display: inline-block;
	border-radius:10px;
}

input{
	margin:5px;
}

input{
	border-radius: 5px;
	border:1px solid black;
	transition:0.3s;
	padding:5px;
}

input:focus{
	background-color: rgb(234, 250, 250);
	border:1px solid black;
}

button{
	background-color: white;
	padding:10px;
	border:1px solid black;
	border-radius:5px;
	transition:0.3s;
}
button:hover{
	cursor: pointer;
	background-color: rgb(234, 250, 250);	
	box-shadow: 1px 1px 10px lightgrey;
	
}
a:link{
	color:blue;
}
a:visited{
	color:darkblue;
}
a:hover{
	text-decoration:none;
	color:black;
	
}
a:active{
	color:rgb(0,0,0);
}